@page "/about"
@{
    ViewData["Title"] = "About";
}

<h2>About</h2>
<p><strong>Name:</strong> Chandler Blunt</p>
<p><strong>Section:</strong> 0001</p>
<p><strong>Availability:</strong> Friday 9am-5pm, Wednesday 3:20pm-5:00pm </p>
<p><strong>Skills:</strong>communication, planning, public speaking and beginner python skills </p>
<p><strong>Workstyle:</strong> Like to get work done early so that team can review before turning in</p>
<p><strong>Hopeful Key Takeaways:</strong>Want to learn how to build a functional website which meets customers needs</p>
<p><strong>Funfact:</strong>I am also a musician</p>