@page "/contact"
@{
    ViewData["Title"] = "Contact";
}

<h2>Contact</h2>
<p><strong>Business:</strong> Astro Corp.</p>
<p><strong>Phone Number:</strong> (757)-819-2338</p>
<p><strong>Adress:</strong> 7502 Watterson Rd, Hampton, VA</p>

<div class="text-center">
    <p>
        <button type="button" class="btn btn-primary">
            Book A Reservation
        </button>
    </p>
</div>